@import '../../../../../sass/variables';

// .search__mobile{
//     display: block;
//     margin-bottom: 20px;
//     @media (min-width: 768px){
//         display: none;
//     }
// }

.listAndSearchContainer {
    margin-top: 20px;
    .search__sidebar__head {
        background: $lightblack;
        border-bottom: 5px solid $red;
        padding: 10px;
        text-transform: uppercase;
        h5 {
            color: white;
            font-family: 'Poppins', sans-serif;
            margin: 0;
        }
    }
}