@import '../../../../../../sass/variables';

.subsection_head{
    color: $lightblack;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &~ .subsection_head_decor{
        border-top: 1px solid $red;
        height: 7px;
        margin: 0 auto;
        position: relative;
        width: 50px;
        &::before{
            background: $red;
            bottom: 0;
            content: '';
            height: 1px;
            left: -50%;
            position: absolute;
            width: 75%;
        }
        &::after{
            background: $red;
            bottom: 0;
            content: '';
            height: 1px;
            right: -50%;
            position: absolute;
            width: 75%;
        }
    }
}