@import '../../../../../sass/variables';
.Search {
    background: #F4F4F4;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    position: relative;
    padding: 20px;
    @media(min-width: 768px) {
        width: 80%;
        margin-top: -50px;
        margin-left: auto;
        margin-right: auto;
    }

    .searchContainer {
        background: #eaeaea;
        padding: 20px;
        position: relative;
        z-index: 1;
    }

    .searchFieldContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        width: 100%;
        @media (min-width:768px) {
            margin-right: 10px;
        }
        > div {
            width: 100%;
            .range {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                width: 100%;
                margin-right: 10px;
                @media (max-width: 767px) {
                    margin-bottom: 10px;
                    margin-right: 0;
                }
                .price_range__info {
                    margin-top: 5px;
                    font-size: 12px;
                    text-align: center;
                }
                .price_range__max,
                .price_range__min {
                    margin-top: 5px;
                    font-size: 12px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                }
            }
            .selectbox {
                flex: 1;
                margin-right: 10px;
                width: 100%;
                margin-bottom: 10px;
                @media (max-width: 767px) {
                    margin-right: 0;
                }
                .select {
                    -moz-appearance: listbox;
                    -webkit-appearance: listbox;
                    appearance: listbox;
                    border-radius: 0;
                    border: 1px solid rgba(0,0,0,.2);
                    color: $lightblack;
                    font-size: 0.9em;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    width: 100%;
                    &:active,
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
        .search__name {
            color: $lightblack;
            flex: 1;
            margin-bottom: 10px;
            padding: 2px 5px;
            width: 100%;
            @media (min-width: 768px) {
                // margin-right: 10px;
                margin-bottom: 0;
            }
        }
    }

    .searchTab__container {
        .searchTab {
            list-style: none;
            margin: 0;
            padding: 0;
            .searchTab__item {
                cursor: pointer;
                display: inline-block;
                padding: 10px;
                position: relative;
                &.active {
                    background: $red;
                    color: white;
                    &::after {
                        border-top: 10px solid $red;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        content: '';
                        display: block;
                        margin: auto;
                        position: absolute;
                        bottom: -9px;
                        left: 0;
                        right: 0;
                        width: 20px;
                        z-index: 10;
                    }
                }
            }
        }
    }
}
