.Search {
    background: #F4F4F4;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    position: relative;
    padding: 20px;
    @media(min-width: 768px) {
        width: 80%;
        margin-top: -50px;
        margin-left: auto;
        margin-right: auto;
    }

    .searchFieldContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        width: 100%;
        > div {
            width: 100%;
            .range{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                width: 100%;
                margin-right: 15px;
                @media (max-width: 767px) {
                    margin-bottom: 15px;
                    margin-right: 0;
                }
                .price_range__info{
                    margin-top: 5px;
                    font-size: 12px;  
                    text-align: center                  
                }
                .price_range__min, .price_range__max{
                    margin-top: 5px;
                    font-size: 12px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600
                }
            }
            .selectbox {
                flex: 1;
                margin-right: 15px;
                width: 100%;
                margin-bottom: 15px;
                @media (max-width: 767px) {
                    margin-right: 0;
                }
                .select {
                    -moz-appearance: listbox;
                    -webkit-appearance: listbox;
                    appearance: listbox;
                    border-radius: 0;
                    border: 1px solid rgba(0,0,0,.2);
                    font-size: .9em;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    width: 100%;
                    &:active, &:focus{
                        outline: 0;
                    }
                }
            }
        }
    }
}
